<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../images/chatimg.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  
    <title>login</title>
    <style>
    body {
      background-color: #272336bd;
      overflow: hidden;
    }
    .login-container {
      min-height: 90vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login-box {
      background: #211E2F;
      color: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
    }
    .photo-preview {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin-top: 10px;
      display: none;
    }

    input{
      display: block;
      height: 40px;
      width: 100%;
      font-size: 20px;
      border-radius: 5px;
      background-color: #35304b7e !important;
      /* border: 1px solid black; */
      border: none;
      color: white !important;
      /* margin-top: 30px; */
    }
    button{
      margin-top: 10px;
      height: 40px;
      width: 50px !important;
      background-color: #514d6694 !important;
      /* border: 1px solid white; */
      border: none !important;

      color: white;
      border-radius: 10px;
    }
    input::placeholder{
      color:  white !important;
    }
  </style>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
          <h3 class="text-center mb-4">Login</h3>
          <form action="/login" method="POST">
            
            <div class="mb-3">
              <label for="number" class="form-label">Phone Number</label>
              <input type="tel" id="number" name="mobile" class="form-control" placeholder="Enter phone number" pattern="[0-9]{10}" required>
              <div class="form-text text-white">Must be 10 digits.</div>
            </div>
            
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
        </div>
      </div>
      
<script>
 
 document.querySelector('.btn').addEventListener('click', () => {
      // let myname = document.getElementById('name').value; 
      let mymobile = document.querySelector('#number').value;
      //  let myimage = document.getElementById('photo').value;
      // localStorage.setItem('myname', myname);
      localStorage.setItem('mymobile', mymobile);
      // localStorage.setItem('myimage', myimage);
 })





</script>
</body>
</html>