<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <style>
     body {
        background-color: #201d2e;
        overflow: hidden;
        user-select: none;
        color: white !important;
    }
    .login-container {
        min-height: 96vh;
        display: flex;
        justify-content: center;
    }
    .login-box {
        background: #3a33575d;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        width: 100%;
        max-width: 400px;
        justify-content: center;
    }
    .login-box h1{
        text-align: center;
        margin-top: -15px;
        margin-bottom: -2px;
        display: inline-block;
    }
    .main_image{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: flex;
        object-fit: cover;
        object-position: top;
        justify-content: center;
    }
    .bi-arrow-left-short{
        float: inline-start;
        font-size: 30px;
        cursor: pointer;
        display: flex;
        margin-top: 5px;
    }
    .detail-box{
        border: none;
        border-radius: 10px;
        width: 95% !important;
        height: 20%;
        background-color: #35304b7e;
        padding: 10px 0px 0px 12px;
        margin-top: 40px;
        text-align: left;
    }
    .name{
        margin-top: 20px;
        font-size: 30px;
    }
    span{
        margin-top: 20px !important;
        align-items: center;
        text-decoration: underline;
    }
    h3{
        margin-top: 0px;
    }
    .fun-box{
        border: 1px solid rgb(218, 214, 203);
        border-radius: 10px;
        border: none;
        width: 99% !important;
        height: auto;
        margin-top: 15px;
         background-color: #35304b7e;
        /* padding: 13px 0px 0px 0px; */
        display: flex;
        gap: 10px;
        justify-content: center;
    }

    button{
        height: 40px;
        width: 130px;
        border-radius: 10px;
        background-color: #514d6694 !important;
        color: white !important;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0px 10px 0px; 
    }


    </style>
    <title>userprofile</title>
</head>
<body>
    <div class="login-container">
        <div class="login-box" style="text-align: center !important;">
            <i class="bi bi-arrow-left-short"></i>
            <BR/><h1>Overview</h1>
            <hr>
            <center>
                <img src="" class="main_image">
                <h3 style="display: block !important; z-index: 4; color: white;" class="name"><%=name%></h3>
            </center>
            
            <div class="detail-box">
                <span>About</span>
                <h3 style="display: block !important; z-index: 4; color: white;" class="about">•  <%=about%></h3>
                <span>Phone number</span>
                <h3 style="display: block !important; z-index: 4; color: white;" class="number">•  <%=number%></h3>

            </div>
            <div class="fun-box" >
                <button class="block-btn"><i class="bi bi-ban"></i>block</button>
                <button class="report-btn"><i class="bi bi-flag"></i>Report</button>
            </div>
        </div>
      </div>
      

      <script>
            const block = document.querySelector('.block-btn')
            const report = document.querySelector('.report-btn')
            
            
            document.querySelector('.bi-arrow-left-short').addEventListener('click', () => {
                    window.history.back();
            })
            
            document.addEventListener('DOMContentLoaded',() => {

                 


                    document.querySelector('img').src = window.localStorage.getItem('Image');

                    if(localStorage.getItem('block-Status') === "true"){
                            block.innerHTML = 'Unblock';
                            block.style = 'background-color: #68608A !important; color: white;';
                    }
                    else{
                            block.innerHTML = '<i class="bi bi-ban"></i>'+'block';
                            block.style = 'background-color: white; color: black;';
                    }

                    fetch('/getReport')
                    .then(response => response.json())
                    .then(res => {

                        res.forEach(e => {
                            console.log(e);

                            if(localStorage.getItem('Mobile') == e.Mobile){
                                var reports = e.Report.split(',');
                                let Reportbtn = document.querySelector('.report-btn');
                                reports.forEach((element) => {
                                    if(element == localStorage.getItem('mymobile')){
                                                
                                            Reportbtn.style = "background-color: #68608A !important; color: white;";
                                            console.log(Reportbtn);
                                    }
                                })

                            }

                        })

                    })
            })
            
            

            block.addEventListener('click', () => {

                const isBlocked = localStorage.getItem('block-Status') === "true";

                if (isBlocked) {
                    // alert("unblocked")
                    block.innerHTML = '<i class="bi bi-ban"></i>'+'block';
                    block.style = 'background-color: white; color: black;';                    
                    localStorage.setItem('block-Status', "false");

                } else {
                    // alert("blocked")
                    block.innerHTML = 'Unblock';
                    block.style = 'background-color: #831515; color: white;';
                    localStorage.setItem('block-Status', "true");
                }
                
                fetch('/block', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        mymobile: localStorage.getItem('mymobile'),
                        status: localStorage.getItem('block-Status'),
                        mobile: localStorage.getItem('Mobile')
                    })
                })
                .then(response => response.json())
                .then(result => {
                    console.log('Successfully updated', result);
                    console.log(result);
                })
                .catch(error => {
                    console.error('Error:', error);
                });


            })



    //----------------------------Report User---------------------------------------


    let Reportbtn = document.querySelector('.report-btn');
    Reportbtn.addEventListener('click', () => {

        Reportbtn.style ='background-color: #831515; color: white;'
         let mynumber = localStorage.getItem('mymobile');
         let Mobile = localStorage.getItem('Mobile');
        let formData = new FormData(); 
        formData.append('mynumber', mynumber);
        formData.append('report', Mobile);
                //---------------worked perfectly------------
        fetch('/reportPost', {
            method: 'post',
            headers : {
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify({
                'mynumber' : mynumber,
                'report' : Mobile
            })
        })
        .then(response => response)
        .then(res => {
            if(res) {
                console.log('Data sended Successfully');
            }
        })
        
    
    })

















    //----------------------------Report User---------------------------------------

















      </script>
    
</body>
</html>